<ion-card>

  <ion-card-header>

    <ion-card-subtitle>
      <ion-grid class="ion-no-padding">
        <ion-row>          
          <ion-col>
            <ion-label [color]="selectedLang == lang ? 'primary':''" *ngFor="let lang of languages" (click)="onSwitchLanguage(lang)">
              <ion-icon [name]="selectedLang == lang ?'radio-button-on-outline':'radio-button-off-outline'"></ion-icon> {{ lang }} 
            </ion-label>

            <ion-icon name="radio-button-off-outline"></ion-icon>
            <a [routerLink]="['/members/lyrics/new']" [queryParams]="{songId: song.id}">I want to add new translation</a>
          </ion-col>
        </ion-row>
      </ion-grid>        
    </ion-card-subtitle>

    <ion-card-title>{{ song.name }}</ion-card-title>

  </ion-card-header>

  <ion-card-content class="" style="padding-top:0; white-space: pre-wrap;">
    <ion-text [innerHtml]="lyrics.lyrics"></ion-text>
  </ion-card-content>

</ion-card>
<!-- 
<ion-text> {{ lyrics | json }}</ion-text>
-->