<div>
    <h2 id="page-heading">
        <span jhiTranslate="lyricsApp.song.home.title">Songs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-song" [routerLink]="['/song/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="lyricsApp.song.home.createLabel">
            Create a new Song
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'lyricsApp.song.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="songs?.length === 0">
        <span jhiTranslate="lyricsApp.song.home.notFound">No songs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="songs && songs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="lyricsApp.song.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="lyricsApp.song.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="composedBy"><span jhiTranslate="lyricsApp.song.composedBy">Composed By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="artist"><span jhiTranslate="lyricsApp.song.artist">Artist</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="album"><span jhiTranslate="lyricsApp.song.album">Album</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="band"><span jhiTranslate="lyricsApp.song.band">Band</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="year"><span jhiTranslate="lyricsApp.song.year">Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="copyright"><span jhiTranslate="lyricsApp.song.copyright">Copyright</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lang"><span jhiTranslate="lyricsApp.song.lang">Lang</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="audioUrl"><span jhiTranslate="lyricsApp.song.audioUrl">Audio Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="videoUrl"><span jhiTranslate="lyricsApp.song.videoUrl">Video Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enteredBy"><span jhiTranslate="lyricsApp.song.enteredBy">Entered By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span jhiTranslate="lyricsApp.song.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let song of songs ;trackBy: trackId">
                    <td><a [routerLink]="['/song', song.id, 'view']">{{ song.id }}</a></td>
                    <td>{{ song.name }}</td>
                    <td>{{ song.description }}</td>
                    <td>{{ song.composedBy }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album }}</td>
                    <td>{{ song.band }}</td>
                    <td>{{ song.year }}</td>
                    <td>{{ song.copyright }}</td>
                    <td>{{ song.lang }}</td>
                    <td>{{ song.audioUrl }}</td>
                    <td>{{ song.videoUrl }}</td>
                    <td>{{ song.enteredBy }}</td>
                    <td>{{ song.lastModified | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/song', song.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/song', song.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(song)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
