<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lyrics-heading" jhiTranslate="lyricsApp.lyrics.home.createOrEditLabel">Create or edit a Lyrics</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.songId" for="field_songId">Song Id</label>
                    <input type="number" class="form-control" name="songId" id="field_songId"
                           formControlName="songId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.lyrics" for="field_lyrics">Lyrics</label>
                    <textarea class="form-control" name="lyrics" id="field_lyrics"
                              formControlName="lyrics"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.lang" for="field_lang">Lang</label>
                    <input type="text" class="form-control" name="lang" id="field_lang"
                           formControlName="lang"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.author" for="field_author">Author</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                           formControlName="author"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.copyright" for="field_copyright">Copyright</label>
                    <input type="text" class="form-control" name="copyright" id="field_copyright"
                           formControlName="copyright"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.isTranslated" for="field_isTranslated">Is Translated</label>
                    <input type="checkbox" class="form-control" name="isTranslated" id="field_isTranslated"
                           formControlName="isTranslated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.translatedBy" for="field_translatedBy">Translated By</label>
                    <input type="text" class="form-control" name="translatedBy" id="field_translatedBy"
                           formControlName="translatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.charset" for="field_charset">Charset</label>
                    <input type="text" class="form-control" name="charset" id="field_charset"
                           formControlName="charset"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lyricsApp.lyrics.lastModified" for="field_lastModified">Last Modified</label>
                    <div class="d-flex">
                        <input id="field_lastModified" type="datetime-local" class="form-control" name="lastModified" formControlName="lastModified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
