<div>
    <h2 id="page-heading">
        <span jhiTranslate="lyricsApp.lyrics.home.title">Lyrics</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lyrics" [routerLink]="['/lyrics/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="lyricsApp.lyrics.home.createLabel">
            Create a new Lyrics
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'lyricsApp.lyrics.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="lyrics?.length === 0">
        <span jhiTranslate="lyricsApp.lyrics.home.notFound">No lyrics found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lyrics && lyrics.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="songId"><span jhiTranslate="lyricsApp.lyrics.songId">Song Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lyrics"><span jhiTranslate="lyricsApp.lyrics.lyrics">Lyrics</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lang"><span jhiTranslate="lyricsApp.lyrics.lang">Lang</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="author"><span jhiTranslate="lyricsApp.lyrics.author">Author</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="copyright"><span jhiTranslate="lyricsApp.lyrics.copyright">Copyright</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isTranslated"><span jhiTranslate="lyricsApp.lyrics.isTranslated">Is Translated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="translatedBy"><span jhiTranslate="lyricsApp.lyrics.translatedBy">Translated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="charset"><span jhiTranslate="lyricsApp.lyrics.charset">Charset</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span jhiTranslate="lyricsApp.lyrics.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let lyrics of lyrics ;trackBy: trackId">
                    <td><a [routerLink]="['/lyrics', lyrics.id, 'view']">{{ lyrics.id }}</a></td>
                    <td>{{ lyrics.songId }}</td>
                    <td>{{ lyrics.lyrics }}</td>
                    <td>{{ lyrics.lang }}</td>
                    <td>{{ lyrics.author }}</td>
                    <td>{{ lyrics.copyright }}</td>
                    <td>{{ lyrics.isTranslated }}</td>
                    <td>{{ lyrics.translatedBy }}</td>
                    <td>{{ lyrics.charset }}</td>
                    <td>{{ lyrics.lastModified | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/lyrics', lyrics.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/lyrics', lyrics.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lyrics)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
